<%- include('./partials/header') %> 

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
    <% if(typeof(errors) != 'undefined') { %>
        <% errors.forEach(error => { %>
            <div class="alert alert-danger" role="alert">
                <%= error.msg %> 
              </div>    
        <% }) %>
    <% } %>
    <% items.forEach(item => { %>
        <div class="item">
            <input type="checkbox">
            <p><%= item.name %></p> 
            <%- include('./partials/deleteForm', {url : `/deleteItem/${item.id}`}) %> 
        </div>
    <% }) %>    
    <form class="item" action="/" method="post">
        <input type="text" name="title" placeholder="New item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
</div>


<%- include('./partials/footer') %> 