<%- include('./partials/header') %> 

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
    <% items.forEach(item => { %>
        <div class="item">
            <%- include('./partials/deleteForm', {itemId : item.id, name : item.name, listName : listTitle}) %> 
        </div>
    <% }) %>
    <form class="item" action="/" method="post">
        <input type="text" name="itemTitle" placeholder="New item" autocomplete="off">
        <button type="submit" name="listName" value="<%= listTitle %>">+</button>
    </form>

    <% if(typeof errorMessage !== 'undefined'  ) { %>
        <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
        </div>
    <% } %>
</div>


<%- include('./partials/footer') %> 