<%- include('partials/header'); -%>
<h1>Edit Post</h1>

<% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
          <p class="alert alert-warning" role="alert">
            <%= error.msg %>
          </p>
    <% }) %>
<% } %>

    <form action=<%= "/post/" + postId %> method="post">
        <div class="mb-3">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" value=<%= post.title%>>
        </div>
        
        <div class="mb-3">
            <label for="post">Post</label>
            <textarea class="form-control" name="postBody" id="post" cols="30" rows="10" ><%= post.postBody%></textarea>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-primary " type="submit">Save</button>
        </div>
    </form>
<%- include('partials/footer'); -%>