<%- include('partials/header'); -%>

<div class="container">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title%></h5>
          <p class="card-text"><%= post.postBody %></p>
          <a href=<%= "/editPost/" + postId %> class="btn btn-primary">Edit</a>
          <a onclick="confirmDelete()" href=<%= "/deletePost/" + postId %> class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>